<section @fadeInAnimation>
  <ol class="breadcrumb">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/student">Student Registration</a></li>
      <li class="active">Student Registration</li>
  </ol>

<br /><br /><br /><br /><br />
<a class="btn btn-primary" routerLink="/student">Return to Student Login</a>
<br /><br />

<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- BEGIN FORM
  private int studentId;
	private String firstName;
	private String lastName;
	private String university;
	private String major;
	private Float gpa;
	private String email;
	private String phoneNumber;
	private String graduationMonth;
	private String graduationYear;
-->

<form novalidate (ngSubmit)="saveStudent(studentForm)"  #studentForm="ngForm" class="form-horizontal">
  <input [ngModel]="student?.studentId" ngModel #studentId="ngModel" type="hidden" name="studentId">

  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input [ngModel]="student?.email" ngModel #email="ngModel" type="text" class="form-control" id="email" name="email" placeholder="Email" required minlength="2" maxlength="50" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
         <span *ngIf="formErrors.email" class="text-danger">
          {{ formErrors.email }}
      </span>
    </div>
  </div>
  
  <div class="form-group">
    <label for="firstName" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-4">
      <input [ngModel]="student?.firstName" ngModel #first_name="ngModel" type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required minlength="2" maxlength="30">
        <span *ngIf="formErrors.firstName" class="text-danger">
          {{ formErrors.firstName }}
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="lastName" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-4">
      <input [ngModel]="student?.lastName" ngModel #last_name="ngModel" type="text" class="form-control" id="lastName" name="lastName"  placeholder="lastName" required minlength="2" maxlength="30">
      <span *ngIf="formErrors.lastName" class="text-danger">
          {{ formErrors.lastName }}
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="university" class="col-sm-2 control-label">University</label>
    <div class="col-sm-4">
      <select [ngModel]="student?.university" ngModel #university="ngModel" class="form-control" name="university" id="university" required>
        <option value="Indiana University">Indiana University</option>
        <option value="Indiana State University">Indiana State University</option>
        <option value="Purdue University">Purdue University</option>
        <option value="DePauw University">DePauw University</option>
        <option value="Saint Mary-of-the-Woods College">Saint Mary-of-the-Woods College</option>
        <option value="University of Notre Dame ">University of Notre Dame</option>
        <option value="Indiana University–Purdue University Indianapolis">Indiana University–Purdue University Indianapolis</option>
        <option value="Ivy Tech">Ivy Tech</option>
        <option value="Butler University">Butler University</option>        
        <option value="Ball State University">Ball State University</option>        
        <option value="Rose-Hulman Institute of Technology">Rose-Hulman Institute of Technology</option>
        <option value="University of Evansville">University of Evansville</option>        
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="major" class="col-sm-2 control-label">Major</label>
    <div class="col-sm-4">
      <select [ngModel]="student?.major" ngModel #major_id="ngModel" class="form-control" name="major" id="major" required>
        <option value="Mathematics">Mathematics</option>
        <option value="History">History</option>
        <option value="Business">Business</option>
        <option value="ComputerScience">Computer Science</option>
        <option value="ComputerTechnology">Computer Technology</option>
        <option value="Science">Science</option>
        <option value="Accounting">Accounting</option>
        <option value="ActuarialScience">Actuarial Science</option>
        <option value="Architecture">Architecture</option>        
        <option value="Biology">Biology</option>        
        <option value="CrimeLawJustice">Crime, Law, and Justice</option>        
        <option value="InformationScience">Information Sciences and Technology</option>        
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="gpa" class="col-sm-2 control-label">GPA</label>
    <div class="col-sm-4">
      <input [ngModel]="student?.gpa" ngModel #gpa="ngModel" type="text" class="form-control" id="gpa" name="gpa" placeholder="4.0" required maxLength="5" pattern="\d+\.\d+">
      <span *ngIf="formErrors.gpa" class="text-danger">
          {{ formErrors.gpa }}
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="phoneNumber" class="col-sm-2 control-label">Phone Number</label>
    <div class="col-sm-4">
      <input [ngModel]="student?.phoneNumber" ngModel #phoneNumber="ngModel" type="text" class="form-control" id="phoneNumber" name="phoneNumber"  placeholder="###-###-####" required minlength="2" maxlength="15">
      <span *ngIf="formErrors.phoneNumber" class="text-danger">
          {{ formErrors.phoneNumber }}
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="graduationMonth" class="col-sm-2 control-label" placeholder="Enter Date">Graduation Date</label>
    <div class="col-sm-4">
      <input type="date" [(ngModel)]="student.graduationMonth">
    </div>
  </div>

    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button [disabled]="!studentForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

  </form>
</section>