<section @fadeInAnimation>

    <ol class="breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li class="active">Student Quiz</li>
    </ol>

    <br/><br/><br/><br/>
    <h2>TAKE A QUIZ!!!</h2>
    <br/>

    <div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
        {{errorMessage}} {{successMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> 

    <form novalidate (ngSubmit)="saveQuiz(quizForm)"  #quizForm="ngForm" class="form-horizontal">

        <div *ngFor="let question of questions">
            <div class="row">
                <div id="box" class="col-lg-10 col-md-11 col-sm-2 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="ph">
                            <h3 class="panel-title">{{question.questionId}}.&nbsp;&nbsp;{{question.question}}</h3>
                        </div>
                        <div class="panel-body">
                            <select [ngModel]="question" ngModel #question="ngModel" name=question{{question.questionId}} id="question" required>
                                 <!-- <option *ngFor="let question of answer" [value]="answer"></option>  -->
                                 <option *ngFor="let choices of question" [value]="answer"></option> 
                            </select> 
                                <!-- 
                                see https://stackoverflow.com/questions/43773676/how-to-do-ngfor-loop-on-nested-json-object
                                 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Click Here to Submit Your Answers</button>
        </div>
        <br/><br/><br/>
    </form>
</section>


                            <!-- <div class="radio">

                                <label>
                                    <input type="radio" name={{question.questionId}} id="choiceA">{{question.choiceA}} 
                                </label><br/>

                                <label>
                                    <input type="radio" name={{question.questionId}} id="choiceB">{{question.choiceB}} 
                                </label><br/>

                                <label>
                                    <input type="radio" name={{question.questionId}} id="choiceC">{{question.choiceC}} 
                                </label><br/>

                                <label>
                                    <input type="radio" name={{question.questionId}} id="choiceD">{{question.choiceD}} 
                                </label><br/>

                                <label>
                                    <input type="radio" name={{question.questionId}} id="noneOfTheAbove">{{question.noneOfTheAbove}} 
                                </label><br/>

                            </div> -->