<section @fadeInAnimation>

    <ol class="breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li class="active">Student Quiz</li>
    </ol>

    <h2>TAKE A DAMN QUIZ AND GET OUT!</h2>
    <br/>

    <div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
        {{errorMessage}} {{successMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> 


<!-- <div>
<input type="radio" name="question.quesitonId" [value]="question.choiceA" [(ngModel)]="question.choiceA">{{question.choiceA}}
<input type="radio" name="question.quesitonId" [value]="question.choiceB" [(ngModel)]="question.choiceB">{{question.choiceB}}
<input type="radio" name="question.quesitonId" [value]="question.choiceC" [(ngModel)]="question.choiceC">{{question.choiceC}}
<input type="radio" name="question.quesitonId" [value]="question.choiceD" [(ngModel)]="question.choiceD">{{question.choiceD}}
<input type="radio" name="question.quesitonId" [value]="question.noneOfTheAbove" [(ngModel)]="question.noneOfTheAbove">{{question.noneOfTheAbove}}
</div> -->


    <form novalidate (ngSubmit)="saveQuiz(quizForm)"  #quizForm="ngForm" class="form-horizontal">

        <input [ngModel]="quiz.quizId" ngModel #quizId="ngModel" type="hidden" name="quizId" [value]="quiz.quizId">

        <div *ngFor="let question of quiz.questions">

            <div class="row">
                <div id="box" class="col-lg-10 col-md-11 col-sm-2 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="ph">
                            <h3 class="panel-title">{{question.question}}</h3>
                        </div>

                             <div class="radio">
                                <label>
                                    &nbsp;&nbsp;
                                    <input [ngModel]="question.choiceA" ngModel #choiceA="ngModel" type="radio" name={{question.questionId}} id="{{question.choiceA}}" [value]="">{{question.choiceA}} 
                                </label><br/>

                                <label>
                                    &nbsp;&nbsp;
                                    <input [ngModel]="question.choiceB" ngModel #choiceB="ngModel" type="radio" name={{question.questionId}} id="{{question.choiceB}}" [value]="">{{question.choiceB}} 
                                </label><br/>

                                <label>
                                    &nbsp;&nbsp;
                                    <input [ngModel]="question.choiceC" ngModel #choiceC="ngModel" type="radio" name={{question.questionId}} id="{{question.choiceC}}" [value]="">{{question.choiceC}} 
                                </label><br/>

                                <label>
                                    &nbsp;&nbsp;
                                    <input [ngModel]="question.choiceD" ngModel #choiceD="ngModel" type="radio" name={{question.questionId}} id="{{question.choiceD}}" [value]="">{{question.choiceD}} 
                                </label><br/>

                                <label>
                                    &nbsp;&nbsp;
                                    <input [ngModel]="question.noneOfTheAbove" ngModel #noneOfTheAbove="ngModel" type="radio" name={{question.questionId}}  id="{{question.questionId}}" [value]="">{{question.noneOfTheAbove}} 
                                </label><br/>
                            </div> 

                         <!-- <div class="panel-body">
                             <select name={{question.questionId}} id="question" required>
                                 <option *ngFor="let question of questions.question" [value]=""></option>
                            </select>
                        </div>   -->

                    </div> <!-- end panel-primary -->
                </div>  <!-- end box -->
            </div> <!-- end row -->
        </div> <!-- end outer loop -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Click Here to Submit Your Answers</button>
        </div>
        <br/><br/><br/>
    </form>
</section>


                            <!-- <div class="radio">
                                <label>
                                    <input type="radio" name={{question.questionId}} id="choiceA">{{question.choiceA}} 
                                </label><br/>
                                <label>
                                    <input type="radio" name={{question.questionId}} id="choiceB">{{question.choiceB}} 
                                </label><br/>
                                <label>
                                    <input type="radio" name={{question.questionId}} id="choiceC">{{question.choiceC}} 
                                </label><br/>
                                <label>
                                    <input type="radio" name={{question.questionId}} id="choiceD">{{question.choiceD}} 
                                </label><br/>
                                <label>
                                    <input type="radio" name={{question.questionId}} id="noneOfTheAbove">{{question.noneOfTheAbove}} 
                                </label><br/>
                            </div> -->
