<section @fadeInAnimation>
  <ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/prospectlist">Recruiter</a></li>
    <li class="active">Prospect List</li>
    <li><a class="btn btn-primary" routerLink="/recruiter">Return to Recruiter Login</a></li>
</ol>

<br><br><br><br><br>

<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!--<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>-->

<h2>Prospect List</h2>
<br>

<!--<a class="btn btn-primary" routerLink="/student/add">Add Student</a>-->

<table class="table table-striped table-bordered" id="dataTable" style="width:100%">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>University</th>
      <th>Major</th>
      <th>GPA</th>
      <th>Graduation Date</th>
      <th>Email</th>
      <th>Phone Number</th>
      <!--<th>Event</th>
      <th>Admin</th> ADMIN FOR EDIT DELETE IF NEEDED-->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of student">
      <td>{{student.firstName}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.university}}</td>
      <td>{{student.major}}</td>
      <td>{{student.gpa}}</td>
      <td>{{student.graduationYear}}</td>
      <td>{{student.email}}</td>
      <td>{{student.phoneNumber}}</td>
    

      <!--<td class="text-center">  EDIT AND DELETE BUTTONS IF NEEDED LATER
        <a class="btn btn-primary" [routerLink]="['/student/edit/', student.studentId]">Edit</a>&nbsp;
        <button (click)="deleteStudent(student.studentId)" class="btn btn-danger">Delete</button>
      </td>-->
    </tr>
  </tbody>
</table>
</section>
