<section @fadeInAnimation>
  <ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li class="active">Recruiter Login</li>
</ol>

<br/>

 <div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div> 

<br><br><br><br>

<h1>Recruiter Login</h1>

<br><br>

    <div class="form-group">
    <label for="enterprise_id" class="col-sm-24 control-label">N Number</label>
    <input type="text" [(ngModel)]="enterprise_id"/>
    </div>
    <div class="form-group">
    <label for="enterprise_id" class="col-sm-22 control-label">Password</label>
    <input type="text" [(ngModel)]="password"/>

    <br><br>

    <a class="btn btn-primary" [routerLink]="[ '/recruiter/login/', enterprise_id ]">Login</a>

    <br><br><br><br><br><br><br><br>

    <a class="btn btn-default" [routerLink]="[ '/recruiter/register/', enterprise_id ]">Register Recruiter</a>
    </div>


</section>