<section @fadeInAnimation>
  <ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li class="active">Recruiter Login</li>
    <li><a class="btn btn-primary" routerLink="/recruiter">Return to Recruiter Login</a></li>
</ol>

<br/>

 <div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div> 

<br><br><br><br>

<h1>Recruiter Login</h1>

<br><br>

    <form novalidate (ngSubmit)="authenticate(recruiterForm)" #recruiterForm="ngForm" class="form-horizontal">
    <input [ngModel]="recruiter?.recruiterId" ngModel #recruiterId="ngModel" type="hidden" name="recruiterId">

    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">User Name</label>
      <div class="col-sm-4">
        <input [(ngModel)]="username" type="text" class="form-control" id="username" name="username" placeholder="Enter User Name..." required>
          <span *ngIf="formErrors.username" class="text-danger">
            {{ formErrors.username }}
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-4">
        <input [(ngModel)]="password" type="text" class="form-control" id="password" name="password" placeholder="Enter Password..." required>
          <span *ngIf="formErrors.password" class="text-danger">
            {{ formErrors.password }}
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button [disabled]="!recruiterForm.form.valid" type="submit" class="btn btn-primary" [routerLink]="[ '/event']">Submit</button>
      </div>
    </div>
  </form>


    <br><br>

    <!--<a class="btn btn-primary" [routerLink]="[ '/recruiter/username/', username ]">Login</a>-->

    <br><br><br><br><br><br><br><br>

    <a class="btn btn-default" [routerLink]="[ '/register/add/']">Register New Recruiter</a>
    


</section>
