<section @fadeInAnimation>
  <ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/recruiter">Recruiter</a></li>
    <li class="active">Review Recruiter</li>
    <li><a class="btn btn-primary" routerLink="/recruiter">Return to Recruiter Login</a></li>
</ol>

<br><br><br><br><br>

<h1>Manage Recruiter Information</h1>

<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<br>

<form novalidate (ngSubmit)="editRecruiter(recruiterForm)"  #recruiterForm="ngForm" class="form-horizontal">
  <input [ngModel]="recruiter?.recruiterId" ngModel #recruiterId="ngModel" type="hidden" name="recruiterId">

  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">User Name</label>
    <div class="col-sm-10">
      <input [ngModel]="recruiter?.username" ngModel #username="ngModel" type="text" class="form-control" id="username" name="username" placeholder="User Name" required>
    <span *ngIf="formErrors.username" class="text-danger">
          {{ formErrors.username }}
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="first_name" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
      <input [ngModel]="recruiter?.firstName" ngModel #firstName="ngModel" type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
      <span *ngIf="formErrors.firstName" class="text-danger">
          {{ formErrors.firstName }}
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="lastName" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-10">
      <input [ngModel]="recruiter?.lastName" ngModel #lastName="ngModel" type="text" class="form-control" id="lastName" name="lastName"  placeholder="Last Name" required>
      <span *ngIf="formErrors.lastName" class="text-danger">
          {{ formErrors.lastName }}
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input [ngModel]="recruiter?.email" ngModel #email="ngModel" type="text" class="form-control" id="email" name="email" placeholder="Email" required minlength="2" maxlength="50" required>
      <span *ngIf="formErrors.email" class="text-danger">
          {{ formErrors.email }}
      </span>
    </div>
  </div>

   <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button [disabled]="!recruiterForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
</section>
