  <section @fadeInAnimation>
    <ol class="breadcrumb">
      <li><a routerLink="/home">Home</a></li>
      <li class="active">Student Login</li>
  </ol>

  <br/>

    <div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
        {{errorMessage}} {{successMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> 

    <br><br><br><br><br>

  <!-- Note: ngSubmit will fire because routerLink is re-routing us to studentForm -->
  <form novalidate (ngSubmit)="authenticate(studentForm)"  #studentForm="ngForm" class="form-horizontal">


    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-4">
        <input [(ngModel)]="email" type="text" class="form-control" id="email" name="email" placeholder="Enter Email..." required minlength="2" maxlength="75" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
          <span *ngIf="formErrors.email" class="text-danger">
            {{ formErrors.email }}
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button [disabled]="!studentForm.form.valid" type="submit" class="btn btn-primary" [routerLink]="[ '/student/edit/', email ]">Submit</button>
      </div>
    </div>

  </form>


    <!-- two-day data bind to email property in student.component.ts 
    <input type="text" [(ngModel)]="email"/>
    <a type="submit" class="btn btn-primary" [routerLink]="[ '/student/edit/', email ]">Submit</a> -->

  </section>