@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
background-image: repeating-linear-gradient(
    45deg, orange 1px, 	#F0F8FF 0.5px, transparent 30px
);
}

/* Customize container

    TODO: Need to rework these for different sized views
*/

@media (min-width: 600px) {
    .container {
        /*max-width: 768px;*/
        max-width: 100%;
        width: 100%;
    }
}


/* Customize container */

@media (min-width: 800px) {
    .container-fluid {
        max-width: 100%;
    }
}

/* Validation formatting */

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

#deletemsg {
    margin-top: 75px;
}