#picture{
    width: 100%;
    height: 550px;
}


 .col-md-4 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 300px;
     margin-left: 20%;
     margin-top: 3%;
      height:250px;
      padding-bottom: 5%;
      color: black;
      background-size: contain;
      background-repeat: no-repeat;
     border: 2px solid orange;
     border-style: ridge;
     border-radius: 8px;
      
    }
.caption p{
    margin-top: 4%;
}

.btn_submit{
    margin-top: 10%;
    background: #0066A2;
    color: orange;   
    border-style: outset;
    border-color: #0066A2;
    border-radius: 2px;
    height: 30px;
    width: 100px;
    font: bold 15px arial, sans-serif;  
    text-shadow:none;
}

.footer{
  margin-top: 5%;
}

.navbar{
    height: 100px;
     background: linear-gradient(to bottom,  #7d7e7d 0%,#0000FF 8%,#0e0e0e 100%);
}

img{
    border: 4px;
}

.navbar-right{
    margin-top: 1%;
}